
@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

*{
    margin: 0;
}

body {
    color: black;
    text-align: center;
    font-family: "Electrolize", serif;
     background: url(./img/NFL.jpg) no-repeat center center fixed; 
     
    font-size: 23px;
    
    background-size: cover;
    
        /* Container'ın yüksekliğini ayarlayabilirsiniz */
        width: 100%;
        /* Container'ın genişliğini ekran genişliği kadar alacak şekilde ayarlayabilirsiniz */
    
        justify-content: center;
        align-items: center;
       
    
        height: 100vh;
        /* Ekranın yüksekliği kadar alacak şekilde ayarlandı */
        display: flex;  
    
    /* background-color: antiquewhite; */
}
h1{
    color: rgb(255, 70, 70);
}
.containerbig{
   
       
        /* Beyaz yazı rengi örneği */
    
        color: white;
        text-align: left;
        font-family: "Electrolize", serif;
        border-width: 15px;
        /* border: 3px solid rgb(19, 14, 8);
        border-radius: 50%; */
        background: rgba(20, 2, 2, 0.8);
        padding: 20px;
        border-radius: 10px;
        margin: 0 auto;
            /* Bu, container'ı yatayda ortalar */
        /* width: 300px; */
        /* max-width: 80%; */
            /* Container'ın maksimum genişliği, ekranın genişliğinin %80'i kadar olacak */
        /* box-sizing: border-box; */
            /* Padding ve border'ı genişlik hesaplamasına dahil etmek için */
}
.movieType{
    list-style: none;
        padding: 0;
}